extends layout

block scripts
  script(type='text/javascript', src='/javascripts/client-api.js')
  script(type='text/javascript', src='/javascripts/comfort-cloud.js')
  script(type='text/javascript', src='/javascripts/index.js')
  link(rel='stylesheet',src='http://fonts.googleapis.com/css?family=Quicksand:300,400|Lobster|Open+Sans:400,700|Roboto')

block content
  div.quote-container
    div.cool-quote
      div “Through our willingness to help others we can learn to be happy rather than depressed.”
      div.gerald -Gerald Jampolsky