extends layout

block scripts
  script(type='text/javascript', src='/javascripts/client-api.js')
  script(type='text/javascript', src='/javascripts/comfort-cloud.js')
  script(type='text/javascript', src='/javascripts/index.js')

block content
  h1 tranquilime
  #content