.cloud{
	border:2px dashed grey;
	background-color:#000;
}
.stressor {
	font-family:"Quicksand";
	color: #DDD;
	 background: rgba(0, 0, 0, .4);
	.stressor-text {
		font-size:2.1em;
	}
	.comfort-list {
		font-size:1.4em;
		list-style-type:none;
		li {
			.red{
				color:#66cccc;
			}
			.blue{
				color:#ff9999;
			}
			.green{
				color:#33cc00;
			}
		}
	}
	input.comfort-text {
		font-file
	}
	input.comfort-button {
		font-size:1.6em;
	}
}

.intro{
	
}

body{
	margin:0;
	padding:0;
}