.stressor {
	background-color: #fdd;
	.stressor-text {
		background-color: #dfd;
	}
	.comfort-list {
		li {
			background-color: #ffd;
		}
	}
	input.comfort-text {
		background-color: #dff;
	}
	input.comfort-button {
		background-color: #fdf;
	}
}