.cloud{
}
.stressor {
	width:360px;
	font-family: 'Quicksand', sans-serif;
	color: #AAA;
	background: rgba(0, 0, 0, .8);
	padding:5px 15px 5px 15px;
	.stressor-text {
		font-size:2.2em;
		margin:0;
		font-style:italic;
	}
	.red{
		color:#66cccc;
	}
	.blue{
		color:#ff9999;
	}
	.green{
		color:#33cc00;
	}
	.purple{
		color:#ff99ff;
	}
	.orange{
		color:#ffcc99;
	}

	.comfort-list {
		padding-bottom:3px;
		margin:0;
		font-size:1.3em;
		list-style-type:none;
		li {
			margin-top: 5px;
			margin:0;
			margin-left:-40px;
		}
	}
	.comfort-text {
		font-size:1.4em;
		background: black;
		border: black;
		border-bottom: 1px solid white;
		color: white;
		outline: none;
	}
	.comfort-link{
		color:#fff;
		cursor:pointer;
		font-size:1.4em;
		font-weight:300;
	}

}

.stressor.small {
	max-width:280px;
	.stressor-text {
			font-size:1.4em;
	}
	.comfort-list {
		font-size:.9em;
	}
	.comfort-link {
		font-size:1em;
	}
	.comfort-text {
		font-size:1em;
	}

}

.stressor.medium {
	max-width:330px;
	.stressor-text {
			font-size:2em;
	}
	.comfort-list {
		font-size:1.1em;
	}
	.comfort-link {
		font-size:1.2em;
	}
	.comfort-text {
		font-size:1.2em;
	}

}

.quote-container{
	position: absolute;
	top: 50%;
	margin-top: -105px;
	left: 0;
	width: 100%;
}
.cool-quote {
	font-family: 'Quicksand', cursive;
	font-style:italic;
	font-size:2.2em;
	color:#fff;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
}
.gerald{
	font-style:normal;
	margin-top:5px;
	margin-left:40px;
}

.postStress{
	font-size:1.4em;
	font-weight: 300;
	color:white;
	position: absolute;
	margin-left:auto;
	margin-right:auto;
	bottom:5px;

	.add-stressor-button{
		color:#fff;
		cursor:pointer;
		font-weight:300;
	}
	.add-stressor-text{
		font-size:1em;
		margin-left:10px;
		margin-right:10px;
		width:200px;
		background: black;
		border: black;
		border-bottom: 1px solid white;
		color: white;
		outline: none;
	}
}

body{
	margin:0;
	padding:0;
	background-color:#000;
	font-family: 'Quicksand', sans-serif;
}