.cloud{border:2px dashed grey;background-color:#000}
.stressor{font-family:"Quicksand";color:#EEE}.stressor .stressor-text{font-size:2.1em}
.stressor .comfort-list{font-size:1.4em;list-style-type:none}.stressor .comfort-list li .red{color:#66cccc}
.stressor .comfort-list li .blue{color:#ff9999}
.stressor .comfort-list li .green{color:#33cc00}
.stressor input.comfort-button{font-size:1.6em}
body{margin:0;padding:0}