
.stressor{font-family:'Quicksand',sans-serif;color:#AAA;background:rgba(0,0,0,0.8);padding:0;max-width:360px}.stressor .stressor-text{font-size:2.1em;margin:0;font-style:italic}
.stressor .red{color:#66cccc}
.stressor .blue{color:#ff9999}
.stressor .green{color:#33cc00}
.stressor .purple{color:#ff99ff}
.stressor .orange{color:#ffcc99}
.stressor .comfort-list{margin:0;padding-top:5px;font-size:1.2em;list-style-type:none}.stressor .comfort-list li{margin:0;margin-left:-40px}
.stressor input.comfort-button{font-size:1.6em}
.stressor .comfort-link{padding-top:5px;color:#fff;cursor:pointer;font-size:1.4em;font-weight:light}
.stressor .small{max-width:300px}.stressor .small .stressor-text{font-size:1.9em}
.stressor .small .comfort-list{font-size:1em}
.stressor .small comfort-link{font-size:1.4em}
.stressor .medium{max-width:330px}.stressor .medium .stressor-text{font-size:2em}
.stressor .medium .comfort-list{font-size:1.1em}
.stressor .medium comfort-link{font-size:1.5em}
.intro{font-family:'Lobster',cursive;font-size:2.2em}
body{margin:0;padding:0;background-color:#000}
